<div class="container" style="background:#1f1818; padding:30px;">
    <div class="row">
        <div class="col-12">
            <form action="/edit-offer" method="POST">
            <input type="hidden" name="offer_id" value="{{id}}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Title</label>
                    <input type="text" name="title" class="form-control" value="{{title}}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="text" name="price" class="form-control" value="{{price}}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Title</label>
                    <textarea name="description" style="display: block; width:100%; min-height:300px">{{description}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>